@if (isLogged()) {
  <nav class="navbar-container">
    <div class="nav-brand">
      <span class="logo-icon">✨</span>
      <span class="logo-text">Planes<b>Match</b></span>
    </div>

    <ul class="nav-links">
      <li>
        <a routerLink="/connect" routerLinkActive="active">
            Conectar
        </a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
            Planes
        </a>
      </li>
      <li>
        <a routerLink="/completed" routerLinkActive="active">
            Recuerdos
        </a>
      </li>
      <li>
        <a routerLink="/couple" routerLinkActive="active">
            Mi Pareja
        </a>
      </li>
    </ul>

    <div class="nav-actions">
      <button class="logout-button" (click)="logout()">
        Cerrar Sesión
      </button>
    </div>
  </nav>
}