<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/dashboard" class="nav-logo">
      <span>💑</span> Planes
    </a>

    <div class="nav-links">
      @if (isLogged()) {
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/completed" routerLinkActive="active">Recuerdos</a>
        <a routerLink="/couple" routerLinkActive="active">Mi Pareja</a>
        
        <div class="user-info">
          <span class="user-name">Hola, <strong>{{ username() }}</strong></span>
          <button class="btn-logout" (click)="logout()">Salir</button>
        </div>
      } @else {
        <a routerLink="/login" routerLinkActive="active">Entrar</a>
        <a routerLink="/register" class="btn-register">Empezar</a>
      }
    </div>
  </div>
</nav>